<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">

    <Found Context="routeData">
        @if (IsPublicPage(routeData.PageType.Name))
        {
            <RouteView RouteData="routeData" DefaultLayout="null" />
        }
        else
        {
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        }
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@{
    bool IsPublicPage(string name)
    {
        // Lista de páginas públicas
        string[] publicPages = new[]
        {
            "Login",
            "Register",
            "AccessDenied",
            "ConfirmEmail",
            "ConfirmEmailChange",
            "ExternalLogin",
            "ForgotPassword",
            "ForgotPasswordConfirmation",
            "InvalidPasswordReset",
            "InvalidUser",
            "Lockout",
            "LoginWith2fa",
            "LoginWithRecoveryCode",
            "RegisterConfirmation",
            "ResendEmailConfirmation",
            "ResetPassword",
            "ResetPasswordConfirmation"
        };
        return publicPages.Contains(name);
    }
}